%p#notice= notice

= render 'show', resource: @resource, resource_class: resource_class

%div.well
  = link_to 'Edit', edit_resource_path(@resource), class: 'btn btn-default'
  = link_to 'Back', resource_path(@resource), class: 'btn btn-default'
